<h1>StaticPublic#home</h1>
<p>Find me in app/views/static_public/home.html.erb</p>
<%= link_to "user dashboard", static_public_user_dash_path %>
<%= link_to "home", static_public_home_path %>
<%= link_to "trems", static_public_trems_path %>