<h1>StaticPublic#trems</h1>
<p>Find me in app/views/static_public/trems.html.erb</p>
<%= link_to "user dashboard", user_dash_path %>
<%= link_to "home", root_path %>
<%= link_to "trems", trems_path %>